@model BlogItem;
@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="~/img/@Model.Image" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title mb-3">@Model.BlogTitle</h4>
                <p class="card-text">@Html.Raw(Model.BlogSubtitle)</p>
            </div>
        </div>
    </div>

</div>